<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vechicle Routing</title>
    <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename ='style.css')}}">
</head>

<body>
    <body>
   <div class="banner">
    <div class="navbar">
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('start')}}">Start</a></li>
            <li><a href="{{url_for('start')}}">Result</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
        </ul>
       </div>
     <h1> Electric Vehicle Routing </h1>

       <div class = "container">
            <form action="{{ url_for('start') }}" method='post'> 
                <button type="submit">Start</button>
            </form>
        </div>
    </div>
    
</body>

</html>
